menu "SDI12 <-> USB Configuration"
    
    config EXAMPLE_SDI12_BUS_GPIO
        int "SDI12 bus pin number"
        range 0 34 if IDF_TARGET_ESP32
        range 0 46 if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
        range 0 19 if IDF_TARGET_ESP32C3
        default 17
        help
            GPIO number for SDI12 bus pin. 

endmenu
